@import 'styles/import.scss';

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 $space;
  background-color: $white;
  border: $border transparent;
  border-radius: 17px;
  text-align: center;
  transition: background-color $timeout ease;
  cursor: default;
  white-space: nowrap;
  &:not(:last-child) { margin-right: $space }

  &:active { background-color: $manoBlack }

  &.primary, &.secondary, &.tertiary, &:active, &.disabled, &.purplerain { color: $white }

  &.default { border-color: $borderColor }

  &.primary, &.balata {
    background-color: $balataGreen;
    &:active { background-color: $squidInk }
  }

  &.secondary, &.secondary:active, &.bellanotte { background-color: $bellaNotte }

  &.tertiary, &.tertiary:active, &.playa { background-color: $vaALaPlaya }

  &.artic { background-color: $articCitric }

  &.hellblau { background-color: $hellblau }

  &.purplerain { background-color: $purpleRain }

  &.disabled {
    background-color: $greyDark;
    cursor: not-allowed
  }
}
