@import 'styles/import.scss';

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 $space;
  background-color: $white;
  border: $border transparent;
  border-radius: 16px;
  text-align: center;
  transition: background-color $timeout ease;
  cursor: pointer;
  white-space: nowrap;
  &:not(:last-child) { margin-right: $space }

  &:active { background-color: $manoBlack }

  &.primary, &.secondary, &.tertiary, &:active, &.disabled { color: $white }

  &.default {
    border-color: $borderColor;
    &:hover { background-color: $greyMed }
  }

  &.primary {
    background-color: $balataGreen;
    &:hover { background-color: $articCitric }
    &:active { background-color: $squidInk }
  }

  &.secondary, &.secondary:active {
    background-color: $bellaNotte;
    &:hover { background-color: #2952B1 }
  }

  &.tertiary, &.tertiary:active {
    background-color: $vaALaPlaya;
  }

  &.disabled {
    background-color: $greyDark;
    cursor: not-allowed
  }
}
