@import 'styles/import.scss';

.stepper {
  height: 100%;
  min-height: 200px;
  padding: $space 0 !important;
  overflow: hidden;

  .bodyStepper {
    position: relative;
    width: 100%;
    flex-grow: 2;
    padding: 0;

    .container {
      display: flex;
      position: absolute;
      flex: 0 0 auto;
      top: 0; left: 0; right: 0; bottom: 0;
      flex-flow: column wrap;
      padding: $space 0;
      will-change: transform;
    }
  }
}




