@import '~styles/import.scss';

$tinySpace: calc(#{$space} / 4);
$iconSpace: 40px;

.container {
  position: relative;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: $space
  }

  .helper, .error {
    display: block;
    width: 100%;
    margin: 0;
    color: $greyDarker;
    font-size: 0.75rem;
    text-align: left
  }

  .error { color: $cocoCorail }
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  label {
    display: block;
    position: absolute;
    margin-left: $space;
    color: $greyDarker;
    transform: translate(0);
    transition: transform .15s ease;
    &.required::after {
      content: "*";
      display: inline-block;
      color: $cocoCorail;
      padding-left: $tinySpace
    }

    &.reverse {
      transform: translate(25px, 0);
    }
  }

  input {
    position: relative;
    display: block;
    width: 100%;
    height: calc(#{$space} * 4);
    padding: $tinySpace $iconSpace $tinySpace $space;
    background-color: $white;
    background-clip: padding-box;
    border: $border $borderColor;
    border-radius: $radius;
    box-sizing: border-box;
    font: 1rem/1.618 'Open Sans';

    &.hasError {
      border-color: $cocoCorail
    }
  }

  input:focus + label, &.hasValue input + label {
    transform: translate(1px, -1.3rem);
    font-size: .75rem;
  }

  input:disabled, input:disabled + label {
    background-color: $greyLight;
    cursor: not-allowed
  }

  .icon {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    top: 0; right: $space;
    svg { fill: $greyDarker }
  }

  &.hasSuccess {
    svg { fill: $kaktus }
  }

  &.reverse {
    input { padding: $tinySpace $space $tinySpace $iconSpace }
    label { transform: translate(25px, 0) }
    .icon {
      right: initial;
      left: $space;
    }
  }
}


