@import '~styles/import.scss';

$tinySpace: calc(#{$space} / 4);

.container {
  position: relative;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: $space
  }

  .helper, .error {
    display: block;
    width: 100%;
    margin: 0;
    color: $greyDarker;
    font-size: 0.75rem;
    text-align: left
  }

  .error { color: $cocoCorail }
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  label {
    display: block;
    position: absolute;
    margin-left: $space;
    color: $greyDarker;
    transform: translateY(0);
    transition: all .15s ease;
    &.required::after {
      content: "*";
      display: inline-block;
      color: $cocoCorail;
      padding-left: $tinySpace
    }
  }

  input {
    position: relative;
    display: block;
    width: 100%;
    height: calc(#{$space} * 4);
    padding: $tinySpace $space;
    background-color: $white;
    background-clip: padding-box;
    border: $border $borderColor;
    border-radius: $radius;
    box-sizing: border-box;
    font: 1rem/1.618 'Open Sans';

    &.hasError {
      border-color: $cocoCorail
    }
  }

  input:focus + label, &.hasValue label {
    transform: translateY(-1.3rem);
    font-size: .75rem;
  }

  input:disabled, input:disabled + label {
    background-color: $greyLight;
    cursor: not-allowed
  }

  &.hasSuccess::after {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' fill='#5ac869' viewBox='0 0 40 60'><path d='M.24,8.8a.77.77,0,0,1,0-1.12L1.36,6.56a.77.77,0,0,1,1.12,0l.08.08L7,11.36a.39.39,0,0,0,.56,0L18.24.24h.08a.77.77,0,0,1,1.12,0l1.12,1.12a.77.77,0,0,1,0,1.12h0L7.76,15.76a.77.77,0,0,1-1.12,0L.4,9Z'/></svg>");
    display: block;
    position: absolute;
    width: 40px;
    height: 100%;
    top: 23px;
    right: 0
  }
}
