{
  "verifyConditions": ["@semantic-release/changelog", "@semantic-release/npm", "@semantic-release/git", "@semantic-release/gitlab"],
  "prepare": [
    "@semantic-release/changelog",
    "@semantic-release/npm",
    {
      "path": "@semantic-release/git",
      "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
    }
  ],
  "publish": ["@semantic-release/gitlab"],
  "success": false,
  "fail": false
}
