@import 'styles/import.scss';

$smallSpace: .75em;

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: $border transparent;
  border-radius: $radius;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  transition: all .15s ease;
  touch-action: manipulation;

  &:focus { outline: none }

  &.default, &.primary { color: $white }

  &.default {
    background-color: $balataGreen;
    &:hover { background-color: $articCitric }
    &:active { background-color: $squidInk }
  }

  &.primary, &.primary:active {
    background-color: $squidInk;
    &:hover { background-color: $bellaNotte }
  }

  &.secondary {
    color: $manoBlack;
    background-color: $white;
    border-color: $greyMedDarker;
    &:hover { background-color: $greyDark }
    &:active {
      background-color: $greyDarker;
      border-color: $greyDarker;
    }
  }

  &.reset {
    background-color: transparent;
    border: none;
    color: $squidInk;
    &:hover { background-color: $greyDark }
  }

  &:disabled, &:disabled:hover {
    background-color: $greyDarker !important;
    border-color: $greyDarker !important;
  }

  //SIZE SPACE
  &.default { padding: $smallSpace }
  &.big { padding: $space }
  &.small { padding: calc(#{$space} / 4) $space }
  &.xsmall { padding: 0 $space }
  &.small, &.xsmall {
    font-size: 0.75rem;
    svg { width: 12px }
  }

  //ICON SPACE
  &.icon svg{ margin-right: $smallSpace }

  &.reverse {
    flex-direction: row-reverse;
    svg{
      margin-right: 0;
      margin-left: $smallSpace;
    }
  }

  &.onlyIcon svg { margin: 0 }
}
