@import '../../styles/import.scss';

// TODO adds a way to detect mobile/iOS devices to be able to improve UX on that devices
// see https://git.manomano.tech/component-react/toolkit.manomano-lan.com/merge_requests/173#note_88668

.container {
  position: relative;
}

.predictionsContainer {
  position: absolute;
  z-index: 1;
  top: 100%;
  transform: translateY(em(-2)); // for covering the border bottom of the input
  left: 0;
  right: 0;
  min-height: em(30);
  background-color: $white;
  background-clip: padding-box;
  border: em($border-width) $border-style $borderColor;
  border-radius: em($radius);
  max-height: em(200);
  overflow-y: auto;
  padding: em($smallSpace) 0;
  scroll-behavior: smooth;

  ul {
    padding-left: 0;
  }
}
