@import 'styles/import.scss';

.container {
  position: relative;
}

.predictionsContainer {
  position: absolute;
  z-index: 1;
  top: calc(#{$space} * 4 - 1px);
  left: 0;
  right: 0;
  min-height: 30px;
  background-color: $white;
  background-clip: padding-box;
  border: $border $borderColor;
  border-radius: $radius;
  max-height: 200px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 8px;
  scroll-behavior: smooth;
}
