@import '../../styles/import.scss';

.prediction {
  padding: em($smallSpace) em($space);
  cursor: pointer;
  user-select: none;

  &.highlighted {
    background-color: $greyMed;
  }

  mark {
    background: none;
    font-weight: 600;
  }
}
