@import 'styles/import.scss';

$fastTimeout: 150ms;

.container {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  &:not(:last-child) { margin-bottom: calc(#{$space} * 2) }

  &.reset { margin-bottom: 0 }
}

.title {
  margin-left: calc(#{$space} / 2);
  font-weight: 400;
  cursor: pointer;
}

.switch {
  position: absolute;
  left: -9999px;
  border: 0;
  overflow: hidden;
  visibility: hidden;
}

.label {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 3em;
  height: 1.9em;
  background-color: $greyDarker;
  border-radius: 30px;
  cursor: pointer;
  transition: background $fastTimeout $in;

  &::after, &.active::after { transition: transform $fastTimeout $in }

  &::after {
    content: '';
    position: absolute;
    width: 1.625em;
    height: 1.625em;
    left: .125em;
    background-color: $white;
    border-radius: 100%;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.20);
  }

  &.active {
    background-color: $balataGreen;

    &::after {
      content: '';
      transform: translateX(15px)
    }
  }
}
