$squidInk:          #0c193a !default;
$blueMood:          #0397a7 !default;
$balataGreen:       #29b9ad !default;
$articCitric:       #00eccd !default;
$bellaNotte:        #1e3c87 !default;
$locoLimon:         #fff950 !default;
$vaALaPlaya:        #ffb950 !default;
$pepeRosa:          #ef87e6 !default;
$cocoCorail:        #e6685A !default;
$hellblau:          #5ad7ef !default;
$purpleRain:        #6455c8 !default;
$menthealeau:       #5aefbe !default;
$kaktus:            #5ac869 !default;
$manoBlack:         #424242 !default;
$greyMedDarker:     #7C7C7C !default;
$greyDarker:        #b4b4b4 !default;
$greyDark:          #d4d4d4 !default;
$greyMed:           #e8e8e8 !default;
$greyLight:         #fafafa !default;

$black:             #000000 !default;
$white:             #ffffff !default;

$primary:             $squidInk !default;
$borderColor:         $greyDark !default;

$hover:               $articCitric !default;
$indicateur:        #2684FF !default;

