$browser-context: 16px;

$main-font: 'Open Sans', mm-main, arial, sans-serif; // mm-main is the Open Sans font with the custom naming as used in manomano-sf

/*Use 'calc' to Up or Down spacing*/
$doubleSpace: 32;
$space: 16;
$halfSpace: 8;
$smallSpace: 4;

$radius: 3;
$border-width: 1;
$border-style: solid;

$timeout: 250ms;
$fastTimeout: 150ms;
$delay: 75ms;

$in: cubic-bezier(0, 0, 0.2, 1);
$out: cubic-bezier(0.4, 0, 1, 1);

$nav: em(80); // Unused var
$sidenav: em(240); // Unused var

$layers: (
  modal: 9000,
  fullscreen: 8000,
  sidebar: 8500,
  nav: 7000,
  header: 6000,
  notification: 5000,
  mask: 4000,
  cta: 3000,
  footer: 2000,
);

$levels: (
  max: 500,
  top: 200,
  middle: 100,
);

$sub-levels: (
  max: 50,
  top: 20,
  middle: 10,
);

/* MediaQueries */

$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1168px,
  'fullDesktop': 1369px,
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
