
/*Use 'calc' to Up or Down spacing*/
$space: 1em;
$halfSpace: .5em;
$radius: 3px;
$border: 1px solid;
$timeout: 250ms;
$delay: 75ms;

$in: cubic-bezier(0.0, 0.0, 0.2, 1);
$out: cubic-bezier(0.4, 0.0, 1, 1);

$nav: 80px;
$sidenav: 240px;

$layers: (
  modal        : 9000,
  fullScreen   : 8000,
  nav          : 7000,
  header       : 6000,
  notification : 5000,
  mask         : 4000,
  cta          : 3000,
  footer       : 2000
);

$levels: (
  max    : 500,
  top    : 200,
  middle : 100
);

$sub-levels: (
  max    : 50,
  top    : 20,
  middle : 10
);

/*func to call z-index level - Ex: z-index: z($layers, nav)*/
@function z($array, $element) {
  @return map-get($array, $element)
}

/*MediaQueries*/
