@import '../../styles/import.scss';

$tinySpace: calc(#{$space} / 4);

.container {
  position: relative;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: $space
  }

  .helper, .error {
    display: block;
    width: 100%;
    margin: 0;
    color: $greyDarker;
    font-size: 0.75rem;
    text-align: left
  }

  .error { color: $cocoCorail }

  .required::after {
    content: "*";
    display: inline-block;
    color: $cocoCorail;
    padding-left: $tinySpace
  }
}

.content {
  .select {
    position: relative;
    display: block;
    width: 100%;
    background-color: $white;

    &.light {
      height: 36px;
      font-size: .85rem !important;
    }

    &.hasError {
      border-color: $cocoCorail
    }

    &.disabled {
      background-color: $greyLight !important;

      & > div { background-color: transparent !important }
    }
  }
}
