@import 'styles/import.scss';

$bigSpace: 2em;

.inputCheck {
  display: inline-flex;
  position: relative;
  align-items: center;

  &:not(:last-child) {
    margin-right: $bigSpace;
  }

  input[type="checkbox"], input[type="radio"] {
    position: absolute;
    left: -9999px;
    visibility: hidden;

    + label {
      position: relative;
      display: inline-block;
      padding-left: calc(#{$space}*2);
      cursor: pointer;

      &::before, &::after {
        content: '';
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        top: 0; left: 0;
        box-sizing: border-box;
        transition: all .15s linear
      }

      &::before {
        border: $border $borderColor
      }

      &:hover::before {
        border-color: $balataGreen
      }
    }

    &:checked + label::before {
      border-color: $balataGreen
    }

    &:not(checked) + label {
      &::after {
        opacity: 0;
        transform: scale(0)
      }
    }

    &:disabled + label, &:disabled:hover + label {
      cursor: not-allowed;
      &::before {
        background: $greyDark;
        border-color: transparent;
        cursor: not-allowed
      }
    }
  }

  input[type="checkbox"] {
    + label {
      &::before, &::after {
        border-radius: $radius
      }
    }
    &:checked + label::after {
      content: '';
      display: block;
      background: $balataGreen;
      opacity: 1;
      transform: scale(1)
    }
  }

  input[type="radio"] {
    + label {
      &::before, &::after {
        border-radius: 100%;
        padding: 4px;
      }
    }
    &:checked + label::before {
      box-shadow: 0 0 0 2px $white inset;
      z-index: z($levels, max);
    }
    &:checked + label::after {
      top: 0; left: 0; bottom: 0; right: 0;
      border-radius: 100%;
      background: $balataGreen;
      opacity: 1;
      transform: scale(1)
    }
  }

  .icon {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 0; left: 0;
    width: 21px; height: 21px;
    z-index: z($sub-levels, max);
    svg {
      fill: $white;
      stroke: $white;
    }
  }

  &.noLabel label { height: 21px }
}

.CheckGroup {
  position: relative;
  display: flex;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: $bigSpace;
  }

  label { margin-bottom: 0 }

  &.vertical {
    flex-flow: column wrap;
    & > div:not(:last-child) {
      margin-bottom: $space;
    }
  }

  &.horizontal{
    flex-flow: row wrap;
    & > div:not(:last-child) {
      margin-right: $bigSpace
    }
  }

  span {
    display: block;
    width: 100%;
    margin-bottom: $space
  }
}

