@import '~styles/import.scss';

.card {
  position: relative;
  width: auto;
  padding: $space;
  margin-bottom: $space;
  background-color: $white;
  border: 1px solid $borderColor;
  border-radius: $radius;
}