@import '../../styles/import.scss';

.card {
  position: relative;
  width: auto;
  padding: em($space);
  margin-bottom: em($space);
  background-color: $white;
  border: em(1) solid $borderColor;
  border-radius: em($radius);
}
