@import '../../styles/import.scss';

.alert {
  position: fixed;
  width: em(300);
  cursor: pointer;
  z-index: z($layers, modal);

  &.right { right: em($space) }
  &.left { left: em($space) }
  &.top { top: em($space) }
  &.bottom { bottom: em($space) }
}
