@import 'styles/import.scss';

.modal {
  position: fixed;
  display: flex;
  top: 0; right: 0; bottom: 0; left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba($black, .5);
  z-index: z($layers, fullScreen);
  will-change: opacity;
  cursor: pointer;

  .icon {
    position: absolute;
    right: .75rem;
    cursor: pointer;
    transition: hover .15s ease;
    z-index: z($levels, max);
    &:hover svg { fill: $hover }
  }

  .header {
    h4 { margin-bottom: 0 }
    & .icon { top: .75em }

    &.hasContent {
      padding-right: 2.2em;
      border-bottom: 1px solid $greyMed;

      & .icon { top: initial }
    }
  }

  .body {
    padding: 0;
    flex: 1 1 auto;
    overflow-y: auto;
  }

  .footer {
    justify-content: flex-end;
    border-top: 1px solid $greyMed;
  }

  .header, .footer { flex: 0 0 auto }
}

.content {
  position: absolute;
  display: flex;
  flex-flow: column noWrap;
  min-width: 320px;
  max-width: 50%;
  max-height: 90vh;
  background: $white;
  border-radius: $radius;
  border: $border transparent;
  box-sizing: border-box;
  text-align: left;
  cursor: default;
  overflow: hidden;
  z-index: z($levels, max);
  will-change: transform, opacity;

  &.noFooter { padding-bottom: 2em }
  &.iframe {
    width: 90vw;
    height: 90vh
  }
}
