@import 'styles/import.scss';

.modal {
  position: fixed;
  display: flex;
  top: 0; right: 0; bottom: 0; left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba($manoBlack, .5);
  cursor: pointer;
  z-index: z($layers, modal);

  .icon {
    position: absolute;
    right: .75rem;
    cursor: pointer;
    transition: hover .15s ease;
    cursor: pointer;
    z-index: z($levels, max);
    &:hover svg { fill: $hover }
  }

  .header {
    justify-content: center;
    & .icon { top: .75em }

    &.hasContent {
      border-bottom: 1px solid $greyMed;

      & .icon { top: initial }
    }
  }

  .footer {
    justify-content: flex-end;
    border-top: 1px solid $greyMed;
  }
}

.content {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  min-width: 320px;
  max-width: 50%;
  max-height: 90vh;
  background: $white;
  border-radius: $radius;
  border: $border transparent;
  box-sizing: border-box;
  text-align: left;
  cursor: default;
  overflow-y: auto;
  z-index: z($levels, max);

  &.noFooter { padding-bottom: 2em }
}
