@import '../../colors.scss';
@import '../../variables.scss';
@import '../../fonts.scss';

.portalsTooltip {
  position: absolute;
  width: auto;

  & > div {
    position: relative;
    padding: $smallSpace;
    background-color: $squidInk;
    border-radius: $radius;
    color: $white;
    text-align: center;
    left: -50%;
    font-size: 0.75rem;
    animation: smoothIn .2s ease;
    transition: all .2s ease
  }

  & > span {
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    bottom: -1.3rem; left: -.5rem;
    background-color: $squidInk;
    transform: rotate(45deg);
    z-index: -1;
  }
}

.manoolkitTooltip {
  display: inline-flex;
  position: relative;
  cursor: pointer
}

@keyframes smoothIn {
  from {
    opacity: .1;
    transform: scale(.5) translateY(-1rem)
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0)
  }
}
