@import '../../colors.scss';
@import '../../variables.scss';
@import '../../fonts.scss';

.portalsTooltip {
  position: absolute;
  width: auto;

  & > div {
    position: relative;
    padding: $smallSpace;
    background-color: $squidInk;
    border-radius: $radius;
    color: $white;
    text-align: center;
    font-size: 0.75rem;
    //animation: smoothIn .2s ease;
    //transition: all .2s ease
  }

  svg { position: absolute }

  &.top > div {
    transform: translateX(-50%);
    svg {
      left: calc(50% - 8px);
      bottom: -.65rem;
    }
  }

  &.left, &.right { max-width: 160px }

  &.left > div {
    left: 0;
    transform: translateY(50%);
    svg {
      top: calc(50% - 8px);
      right: -.65rem;
      transform: rotate(-90deg)
    }
  }

  &.right > div {
    right: 0;
    transform: translate(0%, 50%);
    svg {
      left: -.65rem;
      top: calc(50% - 8px);
      transform: rotate(90deg)
    }
  }

  &.bottom > div {
    right: 0;
    transform: translateX(-50%);
    svg {
      left: calc(50% - 8px);
      top: -.65rem;
      transform: rotate(180deg)
    }
  }
}

.manoolkitTooltip {
  display: inline-flex;
  position: relative;
  cursor: pointer
}

.entering{
  display: block;
  animation-delay: 300ms;
  opacity: .1;
  transform: scale(.5) translateY(-1rem)
}

.entered{
  opacity: 1;
  transform: scale(1) translateY(0)
}
.exiting{
  display: block;
}
.exited{
  display: block;
}

@keyframes smoothIn {
  from {
    opacity: .1;
    transform: scale(.5) translateY(-1rem)
  }

  to {
    opacity: .1;
    transform: scale(.5) translateY(-1rem)
  }
}
