@import '../../colors.scss';
@import '../../variables.scss';
@import '../../fonts.scss';

$marginArrow: -10px;

.portalsTooltip {
  position: absolute;
  width: auto;

  & > div {
    position: relative;
    min-width: 160px;
    padding: $smallSpace;
    background-color: $squidInk;
    border-radius: $radius;
    color: $white;
    text-align: center;
    font-size: 0.75rem;
    transition: all 300ms ease;
    animation: inOut 300ms ease;

    &.top, &.bottom {transform: translateX(-50%)}
    &.left, &.right {
      width: 160px;
      transform: translateY(50%);
    }
  }
}

.svgContent {
  position: absolute;
  display: flex;
  width: 100%; height: 100%;
  top: 0; left: 0;
  z-index: -1;

  svg { position: absolute }

  .top &, .bottom & { justify-content: center }
  .left &, .right & { align-items: center }

  .top & {
    align-items: flex-end;
    svg { bottom: $marginArrow }
  }

  .bottom & {
    align-items: flex-start;
    svg {
      top: $marginArrow;
      transform: rotate(180deg)
    }
  }

  .left & {
    justify-content: flex-end;
    svg {
      right: $marginArrow;
      transform: rotate(-90deg)
    }
  }

  .right & {
    justify-content: flex-start;
    svg {
      left: $marginArrow;
      transform: rotate(90deg)
    }
  }
}

.manoolkitTooltip {
  display: inline-flex;
  position: relative;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer
}

@keyframes inOut {
  from {opacity: .1}
  to { opacity: 1 }
}
