@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import './colors.scss';

* { margin: 0; padding: 0 }

html, body {
  font: 1rem/1.618 'Open Sans';
  color: $squidInk;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

h1 { font-size: 2.25rem }
h2 { font-size: 2.125rem }
h3 { font-size: 2rem }
h4 { font-size: 1.625rem }

h1, h3, .title {font-weight: 700;}
h2, h4, .subTitle {font-weight: 600;}

h1, h2, h3, h4 { letter-spacing: -0.01em }

.title { font-size: 1.125rem }

.subTitle, .text, .link, .label,
p, a, ul, li, ol, figure, pre, table, span, label, fieldset, input {
  font-weight: 400;
  letter-spacing: -0.003em;
  > span, a {
    font-size: inherit;
    font-weight: inherit;
    color: inherit
  }
}

.smallText, small { font-size: 0.875rem }

a, .link {
  color: $articCitric;
  &:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }
  &:active { color: $balataGreen }
  &:visited { color: $purpleRain }
  &:disabled { color: $greyDark }
}

h3, h4, p, a, ul, li, ol, figure, pre, table, span, label, fieldset {
  line-height: 1.618;
  margin-bottom: 1rem
}
